<form #form="ngForm" (ngSubmit)="addCashFlow(form)">
    <ion-list name="cashFlowType" radio-group [(ngModel)]="cashFlowType">
        <ion-item>
            <ion-label>Kiadás</ion-label>
            <ion-radio value="-1"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Bevétel</ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label floating>Összeg</ion-label>
            <ion-input type="number" id="amount" name="amount" [(ngModel)]="cashFlow.amount" min="0.01"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Szöveg</ion-label>
            <ion-input type="text" id="text" name="text" [(ngModel)]="cashFlow.text"></ion-input>
        </ion-item>
        <ion-item *ngIf="wallets.length > 1">
            <ion-label fixed>Pénztárca</ion-label>
            <ion-select id="wallet" name="wallet" [(ngModel)]="wallet" (ngModelChange)="changeWallet($event)">
                <ion-option *ngFor="let wallet of wallets; length" [value]="wallet">{{wallet.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <button ion-button type="submit">Küldés</button>
        </ion-item>
     </ion-list>
</form>